<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css"></link>
  <title>Distribution Systems</title>
</head>
<body>
  <h1>Introduction to Distributed Systems</h1>
  <h3>A brief exploration of some of the key concepts/ideas that exist in the field of Distributed Systems.</h3>

  <div>
    <h3>Table of Contents</h3>
    <table>
      <tr>
        <td><a href="#distributed_system">What is a Distributed System?</a></td>
      </tr>
      <tr>
        <td><a href="#use_distributed_system">Why should we use Distributed Systems?</a></td>
      </tr>
      <tr>
        <td><a href="#avoid_distributed_system">Why should we avoid using Distributed Systems?</a></td>
      </tr>
      <tr>
        <td><a href="#rpc">Remote Procedure Calls (RPCs)</a></td>
      </tr>
      <tr>
        <td><a href="#two_generals_problem">Two Generals Problem</a></td>
      </tr>
      <tr>
        <td><a href="#byzantine_generals_problem">Byzantine Generals Problem</a></td>
      </tr>
    </table>
  </div>

</body>
</html>